<button type="button" mat-button color="accent" (click)="add()">ADD GUEST</button>
<app-crud-table [items]="items" #crud>
  <ng-template #tableHead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Action</th>
    </tr>
  </ng-template>
  <ng-template #readTemplate let-guest>
    <td>{{guest.id}}</td>
    <td>{{guest.first_name}}</td>
    <td>{{guest.last_name}}</td>
    <td>
      <button mat-button (click)="edit(guest)" color="accent">Edit</button>
      <button mat-button (click)="remove(guest)" color="warn">Remove</button>
    </td>
  </ng-template>
  <ng-template #editTemplate>
    <td>
      <mat-form-field>
        <input type="text" matInput [(ngModel)]="crud.editedItem.id" readonly disabled/>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input type="text" matInput [(ngModel)]="crud.editedItem.first_name"/>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input type="text" matInput [(ngModel)]="crud.editedItem.last_name"/>
      </mat-form-field>
    </td>
    <td>
      <button mat-button (click)="save()" color="accent">Save</button>
      <button mat-button (click)="cancel()" color="accent">Cancel</button>
    </td>
  </ng-template>
</app-crud-table>
